name: API Docs

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-api-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Build docs
        run: ./scripts/build-api-docs.sh
